@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* styles for authorization videos */
* {
	padding: 0;
	margin: 0;
}

html, body {
	background-color: whitesmoke;
	font-family: 'Roboto', sans-serif;
}

.containerAuth {
	width: 100%;
	padding-right: 24px;
	padding-left: 24px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 1200px) {
	.containerAuthhh {
		max-width: 1200px;
	}
}

.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -12px;
	margin-left: -12px;
}

.w-100 {
	height: 100% !important;
}

.vh-100 {
	height: 100vh !important;
}

.justify-content-center {
	justify-content: center !important;
}

.align-items-center {
	align-items: center !important;
}

.flex-container {
    display: flex;
    height: 80px;
    align-items: center;
    color: darkblue;
    border-style: groove;
    background-color:  #070617;
}

.tesla {
    font-size: x-large;
    font-style: Baguet Script;
}

.logo {
    height: 80px;
    width: 150px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 153px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: auto; /* Stay at the top */
    left: auto;
    background-color: antiquewhite; /* Black */
    
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .sidenavv {
    border-style: inset;
    background-color: azure;
    font-size: medium;
    font-style: italic;
  }

.footer {
    text-align: center;
    height: 80px;
    background-color: DarkSalmon;
    color: white;
    display: flex;
}

.cbutton {  
    
    color: darkgoldenrod;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    width: 500px;
    
  } 

  .vbutton {
    border: none;
    color: cadetblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    width: 500px;
    
  }

  /* style for projectName and placeOrder */
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html{    background:url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
  background-size: cover;
  height:100%;
}

.container {
	align-content: center;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

/* common styles for signin and signup */
.header h4 {
	margin-top: 10px;
	font-weight: normal;
	font-size: 14px;
	color: rgba(0,0,0,4);
}

.form {
	display: flex;
	flex-direction: column;
}

.form p {
	text-align: right;
}

.form p a {
	color: #000;
	font-size: 14px;
}

.form>input {
	height: 46px;
	padding: 0 16px;
	border: 2px solid #ddd;
	border-radius: 4px;
	outline: 0;
	margin-top: 20px;
}

.form>input:focus {
	border-color: black;
}

.form button {
	padding: 12px 10px;
	border: 0;
	background: black;
	border-radius: 3px;
	margin-top: 10px;
	color: #fff;
	letter-spacing: 1px;
	cursor: pointer;
}

.auth-box {
	background-color: white;
	padding: 48px 56px;
	border: 2px solid black;
	box-shadow: rgba(17,12,46,0, 15) 0px 48px 100px 0px;
}

  
/* end of common styls */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* styles for dialog */
mat-form-field {
	width: 100%;
}
